/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

*:focus {
  outline: 0 !important;
} //Remove a borda de qualquer elemento focado e ou clicado.

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media screen and (min-width: 1024px) {

  body {
    background-color: #EBC79E;
  }

  .bg-header {
    background-color: #A68064;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 20px;
    border: 1px solid #5C3317;
  }

}
